# Directories
data/
user/
users/
rides/
build/
dist/

# Logs and temp files
*.log
*.log.*
*.tmp
*.temp
*~
*.lock
*.memoria

# Keys and credentials
*key*
*.pem
*.key
id_*
credentials.json
.env
.gpg

# Binary/comiled files
*.o
*.a
*.so
*.dylib
aes_ctr
aes_ctr_backup
aleatorio
base58d
base58e
bignum_*
bn2*
bill-format
billboards
bills
bmpaux
cedulasC1buscaarg
cedulasC1cdr
chacha20
comedocs
comepeliculas
comeuno
concatena
dataC1*
datacdrn
datap*
divceildecimal
eex
fdcdr
haz*
haza
haza1
leearchivosysacasocket
list2d
listadescarga
listadodirectorio*
listd
mystdin
regente
saldosC1cdr
salsab
sock-*
stdbidiarray
stdbuscaarg*
stdcar*
stdcdr*
stddeclaracionesdevariable*
stddelcar*
stdentientecreate
stdesnumero
stdfromdec
stdfromhex
stdgetfilestat
stdhtml*
stdhttp*
stdletras*
stdlistadodirectorio*
stdllaves
stdnoletras
stdouro*
stdreplace*
stdsaca*
stdsepar*
stdterm*
stdtohex*
stdunescape
supabase_host
t2
ultimos*
getregisteranlock

# OS files
.DS_Store
.fuse_hidden*